* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(./imagens/fundo-login.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centralizar {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px 30px;
    width: 380px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-bottom: 30px;
}

.logo-foto {
    width: 100px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-form .link-cadastro {
    display: block;
    margin-bottom: 20px;
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.login-form .link-cadastro:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #5d17ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #4a12bc;
}